{%load static%}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}?v=1">
    <link rel="stylesheet" href="{% static 'assets/css/partials.css'%}?v=1">
    <link rel="stylesheet" href="../static/assets/css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/so3qfi9exwyon8gi9xspijwplkefjswvvum3cpy6nigg32ig/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Laudario</title>
</head>
<body>
    <!-- <header>
        <img src="{% static 'assets/imgs/Logo-impixel-removebg-preview.png' %}" alt="Logo impixel"  width="45px" height="40px">

        <a class="a-header-laudario" href="{% url 'tabelaLaudos' %}">
            <button type="button" class="btn button-back border-0" data-bs-container="body" data-bs-trigger="hover" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="Voltar para tabela de pacientes" style="background-color: #92181c;">
                <img src="{% static 'assets/imgs/arrow-left.svg'%}" alt="emoji seta virada para esquerda"  width="19px" height="19px">
            </button>
        </a>

        <section class="avatar-header">
            <img  class="img-perfil" src="{% static 'assets/imgs/fotopadraoperfil.png' %}" alt="foto de perfil médico">
            <p> Médico Italo</p>
        </section>
          
    </header> -->

    <main>
        <section class="container-main">
            <textarea></textarea>

            <section class="container-rigth">
                <section class="container-inputs">
                    <label for="mascaras">Máscaras DX</label>
                    <select class="inputs-mascaras" name="mascaras" id="mascaras">
                        <option value="" disabled selected>Situação do exame</option>
                        <option value="Raio-x">Raio-x</option>
                    </select>
                </section>

                <section class="container-dados">
                    <section class="dados-laudo">
                        <section class="alinhamento-horizontal">
                            <p>Prioridade: NÃO</p>
                              <button class="button-laudo">
                                <img src="{% static 'assets/imgs/eye.svg' %}" alt="" width="25" height="25">
                                PACS
                              </button>
                              
                            
                           
                        </section>
                        <section class="alinhamento-horizontal">
                            <p>&#9792; Lais Santos 24</p>

                            <button type="button" class="button-laudo border-0" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                             <img src="{% static 'assets/imgs/info-circle.svg'%}" alt="" width="25" height="25"> 
                              + det.  
                            </button>
                            
                            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Informações detalhadas do paciente</h1>
                                    <button type="button" class="btn-close border-0" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                    ...
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary border-0" data-bs-dismiss="modal">Close</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </section>

                        <section class="agrupamento"><button class="CR">CR</button> <data value="">31/12/2024 09:12H</data></section>
                        <p>Estudo: Colunas</p>
                        <p>Unidade: Preven imperatriz</p>
                        
                        
                    </section>

                    <br>

                    <section class="buttons">
                      
                      <section class="btn-container">
                        <button class="button-laudo-white"> 
                          <img src="{% static 'assets/imgs/folder.svg' %}" alt="" width="25" height="25"> Preview
                        </button>
                      </section>
                      <button type="button " class=" button-laudo-b border-0" data-bs-container="body" data-bs-trigger="hover" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content=" Duplicar exame" >
                        <img class="img-btn-header" src="{% static 'assets/imgs/copy.svg' %}" alt=""  width="25 " height="25">
                        <!-- <img class="img-btn-header" src="../static/assets/imgs/copy.svg" alt=""  width="25 " height="25"> -->
                    </button>
            
                    <button type="button" class=" button-laudo-b border-0" data-bs-container="body" data-bs-trigger="hover" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="Salvar dados do laudo" >
                        <img class="img-btn-header" src="{% static 'assets/imgs/floppy.svg' %}" alt=""  width="25 " height="25">
                        <!-- <img class="img-btn-header" src="../static/assets/imgs/floppy.svg" alt=""  width="25 " height="25"> -->
                    </button>
            
                    <button type="button " class=" button-laudo-b border-0" data-bs-container="body" data-bs-trigger="hover" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="Assinar laudo"  data-bs-custom-class="custom-popover" >
                        <img class="img-btn-header" src="{% static 'assets/imgs/pencil-square.svg' %}" alt="" width="25 " height="25">
                        <!-- <img class="img-btn-header" src="../static/assets/imgs/pencil-square.svg" alt="" width="25 " height="25"> -->
                    </button>
                    </section>
                </section>


            </section>
        </section>
    </main>
    <script>
        tinymce.init({
            selector: 'textarea',
            width: '100%',
            height: '99%',
            content_style: "body { background-color: #2b3446; color: #ffffff; }",
            skin: "oxide-dark",
            content_css: "dark", 
            plugins: [
            // Core editing features
            'anchor', 'autolink', 'charmap', 'codesample', 'emoticons', 'image', 'link', 'lists', 'media', 'searchreplace', 'table', 'visualblocks', 'wordcount',
            // Your account includes a free trial of TinyMCE premium features
            // Try the most popular premium features until Dec 30, 2024:
            'checklist', 'mediaembed', 'casechange', 'export', 'formatpainter', 'pageembed', 'a11ychecker', 'tinymcespellchecker', 'permanentpen', 'powerpaste', 'advtable', 'advcode', 'editimage', 'advtemplate', 'ai', 'mentions', 'tinycomments', 'tableofcontents', 'footnotes', 'mergetags', 'autocorrect', 'typography', 'inlinecss', 'markdown','importword', 'exportword', 'exportpdf'
            ],
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ],
            ai_request: (request, respondWith) => respondWith.string(() => Promise.reject('See docs to implement AI Assistant')),
            });
    </script>
      <script>
        // Inicializar todos os popovers
        document.addEventListener('DOMContentLoaded', function () {
          const popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'));
          popoverTriggerList.map(function (popoverTriggerEl) {
            return new bootstrap.Popover(popoverTriggerEl);
          });
        });
      </script>

      <script>
        const myModal = document.getElementById('myModal')
        const myInput = document.getElementById('myInput')

        myModal.addEventListener('shown.bs.modal', () => {
            myInput.focus()
        })
      </script>

<script src="{% static 'assets/js/expandbutton.js'%}"></script>
</body>
</html>
