:root{
    --cor1: #e0363b;
    --cor2:#585858; 
    --cor3: #323a47;
    --cor5: #3e454e;
    --cor6:#1d232f ; 
    --cor7: #92181c;
    --cor8:#d6d6d6;
    --cor09: #2b3446;
 }

header {
    width: 50px; 
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: var(--cor09);
    z-index: 1000;
    overflow: visible; /* Permite que os botões "saiam" da sidebar */
}


header > img{
    margin-top: 20px;
}

.avatar-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--cor8);
    margin-bottom: 30px;
    margin-left: 8px;
}

.avatar-header > p {
    font-size: 11px;
    font-weight: 400;
    margin-top: 5px; 
}

.button-back {
    height: 35px !important;
    width: 35px !important;
    border: none !important;
    background-color: var(--cor7) !important;
    border-radius: 10px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.btn{
    background-color: var(--cor7) !important;
}

.a-header-laudario {
    color: var(--cor7) !important;
    text-decoration: none;
}

.buttons-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    min-width: 50px; /* Define um mínimo para evitar cortes */
    position: relative; /* Evita sobreposições */
}

.button-laudo-header {
    border: none;
    outline: none;
    background-color: var(--cor7);
    border-radius: 10px;
    color: var(--cor8);
    font-weight: 700;
    cursor: pointer;
    height: 40px;
    width: 40px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Ajustes nas imagens dos botões */
.img-btn-header {
    width: 20px;
    height: 20px;
} 


.button-laudo-header:active {
    transform: scale(0.95);
}



.container-conjuto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-top: 30px;
}

