/* @import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/utilities/api"; */


 :root{
    --cor1: #e0363b;
    --cor2:#585858; 
    --cor3: #323a47;
    --cor5: #3e454e;
    --cor6:#1d232f ; 
    --cor7: #92181c;
    --cor8:#d6d6d6;
 }
 
 *{
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p{
    margin: 0% !important;
}

body{
    background-color: var(--cor6) !important;
}

.container-center{
    background-color: var(--cor3);
}

.header-top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 50px 10px 50px;
    background-color: #1e2731 ;
}

#menuopcoes{
    background: var(--cor3);
    border: none;
    border-radius: 10px;
    margin: 10px 0px 10px 0px;
    width: 45px;
    height: 45px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.img-header {
    cursor: pointer;
    width: 40px;
    height: 40px;
  }

.img-dropdown{
    border-radius: 50%;
}

/* Começo dropdown menu de pesquisa */

#menu-bottom {
    padding: 10px;
    width: 98%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    gap: 15px; 
}

/* Estilo barra de pesquisa */
.search-box {
    display: flex;
    align-items: center;
    justify-content: space-around;

    height: 30px;
    padding: 2px 5px 2px 10px;
    background-color:#636262 ;
    width: 70%; 
    border-radius: 10px;
    margin: 0px ; 
    box-shadow: -1px -1px black;
    border: 1px solid var(--cor6);
}

#input-busca {
    border: none;
    background: none;
    outline: none;
    color: var(--cor8);
    font-weight: bolder;
    font-size: 13px;
    width: 100%; 
}

#input-busca::placeholder {
    color: var(--cor8);
    font-weight: bolder;
}

.search-btn {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-dates{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.dates{
    display: flex;
    flex-direction: column;
    color: var(--cor8);
    font-weight: bold;
}


/* Estilo para os selects */
.select {
    max-width: 450px; 
    height: 30px;
    padding: 0px 10px 0px 10px;
    border-radius: 10px;
    background-color: var(--cor2);
    color: var(--cor8);
    font-weight: bolder;
    font-size: 13px;
    border: none;
    outline: none;
    margin: 5px 0; 
    text-align: left;
    -webkit-appearance: none; /* Remove a seta padrão no Chrome */
    -moz-appearance: none; /* Remove a seta padrão no Firefox */
    appearance: none; /* Remove a seta padrão em outros navegadores */
}

#linhas::placeholder {
    color: var(--cor8);
    font-weight: bolder;
}




/* @media (max-width: 768px) {
    #menu-bottom {
        flex-direction: column; 
    }

    .search-box {
        width: 100%;
        max-width: 100%; 
    }

    #select-modalidade,
    #select-unidade,
    #linhas {
        max-width: 100%; 
    }
}

@media (max-width: 480px) {
    .search-box {
        flex-direction: column;
        height: auto; 
    }

    .search-btn {
        opacity: 0;
        height: 0px;
    }

    #menu-bottom {
        padding: 5px;
    }
} */

/* fim menus */

.table-responsive{
    overflow-x: scroll;
}

table {
    width: 100%;
    overflow: hidden; 
    border-collapse: collapse;
    font-size: 14px;
}

td {
    padding: 5px;
    text-align: left;
    border-left: 2px solid var(--cor2) !important;
}

th {
    background-color: #2d343f;
    color: var(--cor8) ;
    font-weight: bolder;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

tr{
    background-color: var(--cor5);
    color:var(--cor8) ;
    font-weight: 600;
}

tr:nth-child(even) {
    background-color: var(--cor3);
  }

tr:hover {
    background-color: var(--cor6);
}

.btn-table{
    border: none;
    outline: none;
    background-color: transparent;
}


/* bootstrap */

.btn-drop{
    background-color: var(--cor3) !important;
    border: none !important;
}


.position-td{ 
    position: relative;
    padding-right: 20px;
    width: 200px;
}

.position-tdB{ 
    position: relative;
    padding-right: 20px;
    width: 115px;
}


.position-tdB > input[type="button"]{
    position: absolute;
    top: 50%;
    left: 78%;
    transform: translateY(-50%);
}

.position-td > .img-description{
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translateY(-50%);
}

.btn-assinado {
    width: 15px;
    height: 15px;
    background-color: rgb(57, 156, 57);
    border: none;
    border-radius: 50%;
}

.btn-informativo {
    width: 15px;
    height: 15px;
    background-color: rgb(19, 19, 54);
    border: none;
    border-radius: 50%;
}

.btn-cancelado {
    width: 15px;
    height: 15px;
    background-color: var(--cor7);
    border: none;
    border-radius: 50%;
}